import React, { useState, useEffect } from 'react';
import { StyledContainer } from './styles';

function <%= props.name %>() {
  const [message, setMessage] = useState('');

  useEffect(() => {
    setMessage('<%= props.name %> page!');
  }, []);

  return (
    <StyledContainer>
      <h1>{message}</h1>
    </StyledContainer>
  );
}

export default <%= props.name %>;
