import React from 'react';

import { StyledContainer } from './styles';

export default function <%= props.name %>() {
  return (
    <StyledContainer>
      <h1><%= props.name %> component!</h1>
    </StyledContainer>
  );
}
